/* faq.css */
@font-face {
    font-family: 'pirateFont'; /*a name to be used later*/
    src: url(../../assets/faq/font.otf); /*URL to font*/
}
.main {
    font-family: 'pirateFont';
    cursor:url(https://legendofmi.com/images/downloads/icons/cursors5.gif), auto;
}

.interact{
    cursor: url(https://legendofmi.com/images/downloads/icons/cursors2.gif), auto;
}
  
